.big-button {
    border: none;
    font-family: inherit;
    @include font(700, 16px, 1.3, null);
    text-align: center;
    border-radius: 22px;
    min-width: 161px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 17px;

}

.big-button--primary {
    color: var(--main-text-color);
    background-color: var(--background-accent-button-color);
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;


    & .big-buttom__icon {
        fill: var(--main-text-color);
    }
}

.big-button--secondary {
    color: var(--accent-text-color);
    background-color: #ffffff;

    margin-left: auto;
    margin-right: auto;

    & .big-buttom__icon {
        fill: var(--accent-text-color);
    }
}

.big-buttom__icon {
    margin-left: 8px;
}