.big-button {
    border: none;
    font-family: inherit;
    @include font(700, 16px, 1.3, null);
    text-align: center;
    border-radius: 22px;
    min-width: 161px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 17px;
    min-height: 44px;

    @include tablet {
            min-width: 191px;
        }
    
    @include desktop {
            min-width: 198px;
        }
}

.big-button--primary {
    color: var(--main-text-color);
    background-color: var(--background-accent-button-color);

    margin-right: auto;
    margin-left: auto;

    transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);

        &:hover,
        &:focus {
            color: var(--accent-text-color);
            background-color: #ffffff;
        }
}

.big-button--primary>.big-buttom__icon {
    fill: currentColor;
}

.big-button--secondary {
    color: var(--accent-text-color);
    background-color: #ffffff;


    margin-right: auto;
    margin-left: auto;

    transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
        color:#ffffff;
        background-color:var(--accent-text-color);
    } 
}

.big-button--secondary>.big-buttom__icon {
    fill: currentColor;
}

.big-buttom__icon {
    margin-left: 8px;
}