// @import '~node_modules/modern-normalize/modern-normalize.css';

button {
    cursor: pointer;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @include mobile{
        width: 320px;
    }
 
    @include tablet {
        width: 768px;
        padding: 0 16px;
    }

    @include desktop {
        width: 1200px;
        padding: 0 16px;
    }
}
