.contacts {
    font-family: DM Sans, sans-serif;
    padding-top: 60px;
    outline: 2px solid blue;
}

.contacts-list {
    margin-bottom: 32px;
}

.contacts-list__item {
    outline: 2px solid green;
    padding: 40px 32px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    &+& {
        margin-top: 20px;
    }
}

.contacts-list__category {
    @include font(500, 12, 1.8, 0.04em);
    text-align: center;
    border-radius: 4px;
    color: var(--main-text-color);
    display: inline-block;
    margin-bottom: 20px;
}

.contacts-list__category--green {
    background-color: #C2E297;
    min-width: 130px;
}

.contacts-list__category--rose {
    background-color: #F0D1A5;
    min-width: 80px;
}

.contacts-list__city {
    @include font(500, 12, 1.8, 0.04em);
    color: var(--description-title-color);
    margin-bottom: 8px;
}

.contacts-list__text {
    @include font(500, 12, 1.5, null);
    color: var(--description-text-color);
    margin-bottom: 24px;
    max-width: 500px;
    padding: 0;
}

.work-list {
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    padding: 24px 0;
    margin-bottom: 24px;
}

.work-list__item+.work-list__item {
    margin-top: 8px;
}

.work-list_days {
    @include font(500, 12, 1.8, 0.04em);
    color: var(--description-title-color);
}

.work-list_time {
    @include font(500, 12px, 1.8, 0.04em);
    color: var(--middle-accent-text-color);
}

.feedback-list__link {
    @include font(500, 12px, 1.5, null);
    color: var(--description-text-color);

    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }
}

.big-button {
    @include font(700, 16px, 1.3, null);
    text-align: center;
    border-radius: 22px;
    min-width: 161px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 17px;
    
}

.big-button--primary {
    color: var(--main-text-color);
    background-color: var(--background-accent-button-color);
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;


    & .big-buttom__icon {
        fill: var(--main-text-color);
    }
}

.big-button--secondary {
    color: var(--accent-text-color);
    background-color: #ffffff;

    margin-left: auto;
        margin-right: auto;

    & .big-buttom__icon {
        fill: var(--accent-text-color);
    }
}

.big-buttom__icon {
    margin-left: 8px;
}