.rewiews {
  font-family: 'DM Sans';
  @include font(500, 12px, 2.58, 0);
  color: var(--description-title-color);
  text-align: center;
  background: #ffffff;
}

.rewiews-slider {
  position: relative;
  overflow: hidden;
}

.rewiews-slider__wrap {
  margin-bottom: 16px;

  @include tablet {
    margin-bottom: 32px;
  }
}

.rewiew-card {
  max-width: 100%;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.rewiew-card__image {
  margin: 0 auto 62px;
  max-width: 100%;
  height: auto;
  display: block;

  @include tablet {
    margin-bottom: 40px;
  }
}

.rewiew-card__wrap {
  z-index: -2;
  max-width: 100%;
  min-height: 220px;
  margin-bottom: 34px;

  display: flex;
  justify-content: center;

  background-image: repeating-linear-gradient(
    #ffffff,
    #ffffff 30px,
    #e1e1e1 30px,
    #e1e1e1 31px
  );

  @include tablet {
    width: 608px;
    min-height: 94px;
    margin-bottom: 40px;
  }

  @include desktop {
    width: 822px;
    min-height: 78px;
    margin-bottom: 47px;
  }
}

.rewiew-card__text {
  position: relative;
  padding: 0;
  max-width: 157px;
  text-indent: 3px;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -13px;
    left: -8px;
    display: inline-block;

    width: 54px;
    height: 40px;

    background-image: url(../images/quotes-54.png);

    @include retina {
      background: url(../images/quotes-108.png);
      background-size: cover;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      top: -17px;
      left: -44px;
      width: 60.35px;
      height: 40px;

      background-image: url(../images/quotes-60.png);

      @include retina {
        background: url(../images/quotes-120.png);
        background-size: cover;
      }
    }

    @include desktop {
      top: -15px;
      left: -37px;
    }
  }

  @include tablet {
    max-width: 100%;
    width: 516px;
    padding: 0;
    @include font(null, 14px, 2.16, 0.04em);
  }

  @include desktop {
    max-width: 100%;
    width: 750px;
    padding: 0;
    @include font(null, 16px, 1.86, null);
  }
}

.rewiew-card__subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include font(500, 14px, 1.86, null);
  color: var(--description-title-color);

  &::before {
    content: '';
    display: block;
    margin-bottom: 20px;

    width: 32px;
    height: 4px;

    background-image: radial-gradient(
      circle at center,
      var(--accent-text-color) 2px,
      transparent 2px
    );
    background-size: 12px 4px;
    background-position: 50% 50%;

    @include tablet {
      margin-bottom: 16px;
    }
  }

  @include tablet {
    @include font(null, 16px, 1.86, null);
  }

  @include desktop {
    font-size: 20px;
  }
}

.swiper-pagination {
  position: static;
  line-height: 1;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;

  background: #d9d9d9;
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 8px;
}

.swiper-pagination-bullet-active {
  border-radius: 0;
  background: url(../images/home-12.4.png);

  @include retina {
    background: url(../images/home-24.8.png);
    background-size: cover;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
  pointer-events: none;
  color: var(--accent-text-color);
  font-size: 50px;

  @include tablet {
    display: block;
  }
}
