.header {
  padding-top: 8px;
  background-color: #ffb8ca;

  @include tablet {
    padding-top: 32px;
  }

  @include desktop {
    padding-top: 40px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.backdrop {
  width: 100vw;
  height: 100%;
  position: fixed;
  background-color: rgba(95, 93, 93, 0.288);
  position: fixed;
  top: 0;
  transition: opacity 300ms, visibility 300ms;
  overflow-y: scroll;
}

.menu__open-btn {
  background-color: transparent;
  border: none;
  outline: none;
  display: block;

  @media screen and (max-width: 767px) {
    margin-left: auto;
  }

  @include tablet {
    margin-left: 293px;
  }

  @include desktop {
    display: none;
  }
}

// .menu__open-btn--mob {
//   @media screen and (max-width: 767px) {
//     margin-left: auto;
//   }
// }

.menu__open-icon {
  stroke: var(--accent-text-color);
  transition: stroke 250ms var(--timing-function);

  .menu__open-btn:hover &,
  .menu__open-btn:focus & {
    stroke: var(--main-text-color);
  }
}

.menu-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #e17992;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 10;

  transform: translateX(100%);
  transition: transform 250ms var(--timing-function);

  @include tablet {
    width: 250px;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu__close-btn {
  background-color: transparent;
  border: none;
  outline: none;
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}

.menu__close-icon {
  stroke: var(--main-text-color);
  transition: stroke 250ms var(--timing-function);

  .menu__close-btn:hover &,
  .menu__close-btn:focus & {
    stroke: var(--accent-text-color);
  }
}

.menu__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 210px;
  height: 44px;

  border: none;
  outline: none;
  padding: 0;
  border-radius: 22px;
  background-color: var(--main-text-color);
  color: var(--accent-text-color);
  font-family: var(--second-font-family);
  @include font(700, 16px, 1.31, 0.03);
  transition: background-color 250ms var(--timing-function);

  &::after {
    content: '';
    background-image: url(../images/button-arrow.svg);
    width: 6px;
    height: 8px;
    background-size: contain;
    margin-left: 28px;
  }

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  &--mob {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
      width: 186px;
    }
  }

  &--tab {
    @media screen and (max-width: 767px), (min-width: 1200px) {
      display: none;
    }

    @include tablet {
      display: block;
      width: 160px;
      margin-left: auto;
    }
  }
}

.menu__item {
  @media screen and (max-width: 767px) {
    border-top: 1px solid #e18298;
  }

  @include desktop {
    position: relative;
    z-index: 10;
  }

  &:not(:last-child) {
    @include desktop {
      margin-right: 35px;
    }
  }

  &:last-child {
    @media screen and (max-width: 767px) {
      border-bottom: 1px solid #e18298;
    }
  }
}

.menu__link {
  display: block;
  padding: 12px 0px;
  font-family: var(--second-font-family);
  color: var(--main-text-color);
  transition: color 250ms var(--timing-function);
  @include font(700, 14px, 1.28, 0.03);

  @include desktop {
    @include font(700, 16px, 1.31, 0.03);
  }

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.current {
  color: var(--accent-text-color);
}

.menu__link:focus.current {
  color: var(--main-text-color);
}

.menu__list--desktop {
  display: flex;
  margin-left: 128px;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}
