:root {
    --accent-font-family: 'Titan One';
    --second-font-family: 'DM Sans', sans-serif;

    --accent-text-color: #D41443;
    --middle-accent-text-color: #FFA5BA;
    --main-text-color: #FFFFFF;
    --description-title-color: #000000;
    --description-text-color: #907E82;

    --background-main-color: #FFB8CA;
    --background-middle-color: #FFF5F6;
    --border-down-color: #E1E1E1;
    --social-icon-color: #fea5bb;
   
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}