<section class="advantages">
  <div class="container">
    <h1 class="advantages__title is-hidden">Advantages</h1>
    <ul class="ingredients">
      <li class="ingredients__item ingredients__milk">
        <h2 class="ingredients__title">721</h2>
        <p class="ingredients__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="ingredients__item ingredients__apple">
        <h2 class="ingredients__title">16kg</h2>
        <p class="ingredients__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="ingredients__item ingredients__heart">
        <h2 class="ingredients__title">84</h2>
        <p class="ingredients__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
