<section class="rewiews">
  <div class="container">
    <h2 class="rewiews__title visually-hidden">Customer Reviews</h2>

    <div class="rewiews-slider swiper-container">
      <div class="rewiews-slider__wrap swiper-wrapper">
        <article class="rewiew-card swiper-slide">
          <h2 class="rewiwew-card__title visually-hidden">
            Rewiewer commentary
          </h2>
          <div class="rewiew-card__thumb">
            <img
              srcset="
                ./images/anastasia-85.jpg  1x,
                ./images/anastasia-170.jpg 2x
              "
              src="./images/anastasia-85.jpg"
              alt="first user"
              class="rewiew-card__image"
            />
          </div>
          <div class="rewiew-card__wrap">
            <p class="rewiew-card__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="rewiew-card__subtitle">Anastasia, Chicago</p>
        </article>

        <article class="rewiew-card swiper-slide">
          <h2 class="rewiwew-card__title visually-hidden">
            Rewiewer commentary
          </h2>
          <div class="rewiew-card__thumb">
            <img
              srcset="./images/artem-85.jpg 1x, ./images/artem-170.jpg 2x"
              src="./images/artem-85.jpg"
              alt="second user"
              class="rewiew-card__image"
            />
          </div>
          <div class="rewiew-card__wrap">
            <p class="rewiew-card__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="rewiew-card__subtitle">Artem, New York</p>
        </article>

        <article class="rewiew-card swiper-slide">
          <h2 class="rewiwew-card__title visually-hidden">
            Rewiewer commentary
          </h2>
          <div class="rewiew-card__thumb">
            <img
              srcset="./images/antonina-85.jpg 1x, ./images/antonina-170.jpg 2x"
              src="./images/antonina-85.jpg"
              alt="third user"
              class="rewiew-card__image"
            />
          </div>
          <div class="rewiew-card__wrap">
            <p class="rewiew-card__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="rewiew-card__subtitle">Antonina, Los Angeles</p>
        </article>

        <article class="rewiew-card swiper-slide">
          <h2 class="rewiwew-card__title visually-hidden">
            Rewiewer commentary
          </h2>
          <div class="rewiew-card__thumb">
            <img
              srcset="
                ./images/vitalii-spi-85.jpg  1x,
                ./images/vitalii-spi-170.jpg 2x
              "
              src="./images/vitalii-spi-85.jpg"
              alt="fourth user"
              class="rewiew-card__image"
            />
          </div>
          <div class="rewiew-card__wrap">
            <p class="rewiew-card__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="rewiew-card__subtitle">Vitalii, Washington</p>
        </article>

        <article class="rewiew-card swiper-slide">
          <h2 class="rewiwew-card__title visually-hidden">
            Rewiewer commentary
          </h2>
          <div class="rewiew-card__thumb">
            <img
              srcset="./images/sophia-85.jpg 1x, ./images/sophia-170.jpg 2x"
              src="./images/sophia-85.jpg"
              alt="fifth user"
              class="rewiew-card__image"
            />
          </div>
          <div class="rewiew-card__wrap">
            <p class="rewiew-card__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="rewiew-card__subtitle">Sophia, Dallas</p>
        </article>

        <article class="rewiew-card swiper-slide">
          <h2 class="rewiwew-card__title visually-hidden">
            Rewiewer commentary
          </h2>
          <div class="rewiew-card__thumb">
            <img
              srcset="
                ./images/vitalii-tym-85.jpg  1x,
                ./images/vitalii-tym-170.jpg 2x
              "
              src="./images/vitalii-tym-85.jpg"
              alt="sixth user"
              class="rewiew-card__image"
            />
          </div>
          <div class="rewiew-card__wrap">
            <p class="rewiew-card__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="rewiew-card__subtitle">Vitalii, Miami</p>
        </article>

        <article class="rewiew-card swiper-slide">
          <h2 class="rewiwew-card__title visually-hidden">
            Rewiewer commentary
          </h2>
          <div class="rewiew-card__thumb">
            <img
              srcset="
                ./images/serhii-vah-85.jpg  1x,
                ./images/serhii-vah-170.jpg 2x
              "
              src="./images/serhii-vah-85.jpg"
              alt="seventh user"
              class="rewiew-card__image"
            />
          </div>
          <div class="rewiew-card__wrap">
            <p class="rewiew-card__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="rewiew-card__subtitle">Serhii, Las Vegas</p>
        </article>

        <article class="rewiew-card swiper-slide">
          <h2 class="rewiwew-card__title visually-hidden">
            Rewiewer commentary
          </h2>
          <div class="rewiew-card__thumb">
            <img
              srcset="./images/ludmila-85.jpg 1x, ./images/ludmila-170.jpg 2x"
              src="./images/ludmila-85.jpg"
              alt="seventh user"
              class="rewiew-card__image"
            />
          </div>
          <div class="rewiew-card__wrap">
            <p class="rewiew-card__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="rewiew-card__subtitle">Ludmila, San Diego</p>
        </article>

        <article class="rewiew-card swiper-slide">
          <h2 class="rewiwew-card__title visually-hidden">
            Rewiewer commentary
          </h2>
          <div class="rewiew-card__thumb">
            <img
              srcset="
                ./images/serhii-ter-85.jpg  1x,
                ./images/serhii-ter-170.jpg 2x
              "
              src="./images/serhii-ter-85.jpg"
              alt="seventh user"
              class="rewiew-card__image"
            />
          </div>
          <div class="rewiew-card__wrap">
            <p class="rewiew-card__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="rewiew-card__subtitle">Serhii, Seatle</p>
        </article>
      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
