<section class="rewiews">
  <div class="container">
    <h2 class="rewiews__title is-hidden">Customer Reviews</h2>
    <article>
      <img
        srcset="
          ./images/testimonials-first-85.png  1x,
          ./images/testimonials-first-170.png 2x
        "
        src="./images/testimonials-first-85.png"
        alt="first user"
        class="rewiews__image"
      />
      <p class="rewiews__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
      <p class="rewiews__subtitle">Emily, Los Angeles</p>
    </article>
  </div>
</section>
