    <!-- Наполняем подвал -->
    <footer class="footer">
      <div class="container container--footer">
        <div class="footer-text-contact">
          <div class="footer-main-text">
            <p class="footer-first-text">homemade ice cream made</p>
            <p class="footer-second-text">with passion</p>
          </div>
          <div class="social-address-tel footer__social-address">
            <ul class="social-address__list list">
              <li class="social-address__item list">
                <a href="" class="social-address__link link">
                  <svg class="social-address__icon" width="32" height="32">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social-address__item list">
                <a href="" class="social-address__link link">
                  <svg class="social-address__icon" width="32" height="32">
                    <use href="./images/sprite.svg#icon-telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="social-address__item list">
                <a href="" class="social-address__link link">
                  <svg class="social-address__icon" width="32" height="32">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <p class="footer-contact__text">
              Feel free to contact
              <a class="contact__tel-link link" href="tel:+610383766284">
                <span class="contact__tel-number">+61 (0) 383 766 284</span>
              </a>
            </p>
          </div>
        </div>
        <p class="footer-copyright">
          © 2022 - IceCream.<br />
          All Rights Reserved.
        </p>
      </div>
    </footer>
