<section class="hero">
	<div class="container hero-container">
		<div class="hero-block">
			<div>
				<h1 class="hero-title">ice cream <br>
					made with <br>
					<span class="hero-title__word">passion</span></h1>
					<a href="#products" class="hero-btn">Products</a>
					<a href="#about" class="hero-btn secondary">How it’s made?</a>
			</div>
			<div>
				<ul class="hero-block__list list">
					<li class="hero-block__item">
						<span class="hero-block__number">16</span>
						<p class="hero-block__text">cafes</p>
					</li>
					<li class="hero-block__item">
						<span class="hero-block__number">23</span>
						<p class="hero-block__text">food trucks</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="fish">
			<p class="fish__text">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, <br> sed do eiusmod tempor <br> incididunt ut labore et</p>
			<button class="fish__btn">
				<svg class="fish__icon" width="26" height="26">
					<use href="./images/sprite.svg#icon-arrow"></use>
				</svg>
			</button>
		</div>
		<picture class="hero-block__milk">
			<source srcset="./images/milk_desk_1x.png 1x , 
											./images/milk_desk_2x.png 2x" 
											media="(min-width:1200px)">
			<source srcset="./images/milk_tab_1x.png 1x , 
											./images/milk_tab_2x.png 2x" 
											media="(min-width:768px)">
			<img src="./images/milk_tab_1x.png" alt="carafe with milk" >
		</picture>
		<picture class="hero-block__girl">
			<source srcset="./images/girl_desk_1x.png 1x , 
											./images/girl_desk_2x.png 2x" 
											media="(min-width:1200px)">
			<source srcset="./images/girl_tab_1x.png 1x , 
											./images/girl_tab_2x.png 2x" 
											media="(min-width:768px)">
			<img src="./images/girl_tab_1x.png" alt="girl with ice cream" >
		</picture>
		<div class="circle"></div>
		<picture class="hero-block__ice">
			<source srcset="./images/ice_1x.png 1x, 
											./images/ice_2x.png 2x"
				media="(min-width:1200px)">
			<source srcset="./images/ice_tab_1x.png 1x , 
											./images/ice_tab_2x.png 2x" 
											media="(min-width:768px)">
			<source srcset="./images/ice_mob_1x.png 1x, 
											./images/ice_mob_2x.png 2x" 
											media="(min-width:320px)">
			<img src="./images/ice_1x.png" alt=" big ice" >
		</picture>
	</div>
</section>