<section class="products">
    <div class="container products__container">
        <p class="products__label">100% natural</p>
        <h2 class="products__header">products</h2>
        <ul class="products__list list">
            <li class="products__item products__item--pink">
                    <div class="products__thumb">
                        <h3 class="products__title">ice cream</h3>
                        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                        <button class="products__button">
                            <svg class="products__arrow">
                                <use href="./images/sprite.svg#icon-arrow">
                                </use>
                            </svg>
                        </button>
                        <div class="products__animation products__animation--pink">
                            <h4 class="products__ingredients">Ingredients</h4>
                            <ul class="composition__list list">
                                <li class="composition__item ">-heavy cream</li>
                                <li class="composition__item ">-vanilla extract</li>
                                <li class="composition__item ">-strawberry</li>
                                <li class="composition__item ">-cold milk</li>
                                <li class="composition__item ">-waffle</li>
                            </ul>
                        </div>
                        
                    </div>
                
                
            </li>

            <li class="products__item products__item--brown">
                <div class="products__thumb">
                    <h3 class="products__title">ice coffee</h3>
                    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button class="products__button">
                        <svg class="products__arrow">
                            <use href="./images/sprite.svg#icon-arrow">
                            </use>
                        </svg>
                    </button>
                    <div class="products__animation products__animation--brown">
                        <h4 class="products__ingredients">Ingredients</h4>
                        <ul class="composition__list list">
                            <li class="composition__item ">-ice cubes</li>
                            <li class="composition__item ">-milk</li>
                            <li class="composition__item ">-filtered coffee</li>
                            <li class="composition__item ">-sugar</li>
                            <li class="composition__item ">-caramel</li>
                        </ul>
                    </div>
                    
                </div>
            </li>

            <li class="products__item products__item--green">
                <div class="products__thumb">
                    <h3 class="products__title">milkshakes</h3>
                    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button class="products__button">
                        <svg class="products__arrow">
                            <use href="./images/sprite.svg#icon-arrow">
                            </use>
                        </svg>
                    </button>
                    <div class="products__animation products__animation--green">
                        <h4 class="products__ingredients">Ingredients</h4>
                        <ul class="composition__list list">
                            <li class="composition__item ">-ice-cream</li>
                            <li class="composition__item ">-sprinkles</li>
                            <li class="composition__item ">-whipped cream</li>
                            <li class="composition__item ">-chocolate</li>
                            <li class="composition__item ">-topping</li>
                        </ul>
                    </div>
                    
                </div>
            </li>
        </ul>
    </div>
    
</section>
